/*
* Custom Checkbox
*/

.checkbox-label {
	font-size: .85em;
	margin: 0 3em 0 0;
	@media (min-width: 992px) {
		font-size: 1.2em;
	}
	@media (min-width: 1024px) {
		font-size: 1em;
	}
}

.checkbox-container {
	display: block;
  position: relative;
	cursor: pointer;
	
	/* Hide the browser's default checkbox */
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;

		/* When the checkbox is checked, add a blue background */
		&:checked ~ .checkmark {
			background-color: $yellow !important;

			/* Show the checkmark when checked */
			&:after {
				display: block;
			}
		}
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: -7px;
		right: 0;
		height: 28px;
		width: 28px;
		@media (min-width: 992px) {
			height: 35px;
			width: 35px;
		}
		background-color: $yellow !important;
		border-radius: 0em;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

		&:hover {
			background-color: $dark-yellow !important;
		}

		/* Create the checkmark/indicator (hidden when not checked) */
		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 10px;
			top: 5px;
			width: 8px;
			height: 15px;
			@media (min-width: 992px) {
				left: 15px;
				top: 9px;
			}
			border: solid black;
			border-width: 0 4px 4px 0;
			transform: rotate(45deg);
		}
	}
}
