/*
* Global Classes - Helpers
*/

@import "~bootstrap/scss/bootstrap";

$yellow:      #f6c444;
$dark-yellow: #e2b030;
$grey:        #333333;
$soft-grey:   #747474;
$white:       #ffffff;
$black:       #000000;

@font-face {
	font-family: 'UniversLTStd';
  src: url('../fonts/UniversLTStd.otf') format('otf');
}

@media (min-width: 768px) {
	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: 100%;
		padding-right: 0 !important;
    	padding-left: 0 !important;
	}
}

.custom-alert {
	color: $black !important;
	background-color: $dark-yellow !important;
	padding: 1em;
	font-size: 0.9em;
}

.small-text {
	font-size: 0.55em;
	@media (min-width: 768px) {
		font-size: 0.8em;
	}
}


.bold-text {
	font-size: 1.2em;
	@media (min-width: 992px) {
		font-size: 1.5em;
	}
	@media (min-width: 1200px) {
		font-size: 1.3em;
	}
	font-weight: 700;
}

.yellow-text {
	color: $yellow !important;
	font-weight: 300;
}

.border-bottom-yellow {
	border-bottom: 4px solid $yellow !important;
}

.btn,
input,
.custom-alert {
	border-radius: 0.15em;
}

.btn-primary {
	color: $black !important;
	background-color: $yellow !important;
	border-color: $yellow !important;

	&:hover,
	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active {
		color: $black !important;
		background-color: $dark-yellow !important;
		border-color: $dark-yellow !important;
	}
}

a {
	color: $yellow !important;

	&:hover,
	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active {
		color: $yellow !important;
	}
}
