@import "./globals.scss";
@import "./checkbox.scss";

.h-33-3 {
	height: 500px;
	border: 1px solid white;
}

body {
	background-color: $black !important;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: linear;

	color: $white !important;
	font-family: 'UniversLTStd', Arial, Helvetica, sans-serif;
	font-stretch: condensed !important;
	font-size: 16px;
	
	.main-container {
		min-height: 100vh;
		overflow: hidden;

		// for video BG
		.video-bg {
			position: fixed;
			right: 0;
			bottom: 0;
			min-height: 100%;
			min-width: 100%;
			transition-delay: 0s;
			transition-duration: 0.3s;
			transition-property: all;
			transition-timing-function: linear;
			z-index: -1;
		}

		header {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		.main-logo {
			margin-left: -4em;
			width: 100%;
		}

		.main-child {
			min-height: 80vh;
			margin-top: 20vh !important;
			@media (min-width: 600px) {
				margin-top: 50vh !important;
			}
			@media (min-width: 768px) {
				margin-top: 34vh !important;
			}
			@media (min-width: 992px) {
				margin-top: 20vh !important;
			}

			.left-container {
				img {
					width: 100%;
					@media (min-width: 1299px) {
						width: 90%;
					}
				}
	
				p {
					font-size: 1.1em;
					@media (min-width: 1199px) {
						font-size: 1.3em;
					}
					@media (min-width: 1299px) {
						font-size: 1.7em;
					}
					line-height: 1;
    			margin-top: .5em;
					padding-left: 15px;
				}
			}

			.right-container {
				> .row {
					margin-left: 0;
					margin-right: 0;

					.input-field {
						background-color: rgba(51, 51, 51 , 0.7) !important;
						border: 1px solid $yellow !important;
						color: $soft-grey !important;
						padding: 0.5em;
						width: 100%;
					}
				}

				.trailer-video-container {
					> p {
						position: absolute;
						top: 15%;
					}
				}
			}
		}
	}
}